* { /* basic reset */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color: #333;
}

h1 {
	font-family: Impact, "Times New Roman", sans-serif;
	font-size: 4em;
	color: #000;
	text-align: center;
	text-shadow: 2px 2px #5883a6;
	margin: 0;
	padding-bottom: 10px;
  letter-spacing: 5px;
}

#logo {
  display: block;
  width: 235px;
  margin: auto;
  padding: 10px;
}

p {
	font: 1.75em "Times New Roman", Times, sans-serif;
	color: #fff;
	width: 75%;
	margin: auto;
	padding: 10px 0;
	text-align: center;
	line-height: 1.5em;
}
